{template "content","header"}
<!--main-->
<div class="main">
  <div class="col-left">
    <div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 列表</div>
    {pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
    <ul class="list lh24 f14">
      {loop $data $r}
      <li><span class="rt">{date('Y-m-d H:i:s',$r[inputtime])}</span>·<a href="{$r[url]}" target="_blank"{title_style($r[style])}>{$r[title]}</a></li>
      {if $n%5==0}<li class="bk20 hr"></li>{/if}
      {/loop}
    </ul>
    <div id="pages" class="text-c">{$pages}</div>
    {/pc}
  </div>
  <div class="col-auto">
    <div class="box">
      <h5 class="title-2">热点关注</h5>
      {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
      <ul class="content digg">
        {loop $data $r}
        <li><a href="{$r[url]}" target="_blank">{str_cut($r[title], 60, '...')}</a></li>
        {/loop}
      </ul>
      {/pc}
    </div>
  </div>
</div>
{template "content","footer"}
